* {
  box-sizing: border-box;
}
div {
  margin: 0;
  padding: 0;
}
div.transition-group {
  position: relative;
}
section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.container {
  position: relative;
  max-width: 1773px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  @media (max-width: 700px) {
    padding-left: 23px;
    padding-right: 23px;
  }

  .article-list {
    margin-left: -35px;
    margin-bottom: 0;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .image-wrap {
      display: inline-block;
      position: relative;
      overflow: hidden;
      z-index: 1;
      width: 100%;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #202121;
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.15);
        }
        &:after {
          opacity: 0.5;
        }
      }

      img {
        display: inline-block;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
      }
    }
  }
}
