@import '../../style/mixins/index';
.filter-tabs {
  .filter-tabs__title {
    font-weight: 500;
  }
  .filter-by {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #a6abab;
      background-color: #fff;
    }
  }
}
